* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 11pt;
  /* scrollbar-color: #c0c0c0 #7c7c7c */
  /* scrollbar border */
}

/* This styles the scrollbar track (the part the thumb slides along) */
::-webkit-scrollbar-track {
  background: #b3b3b3;
  /* Color of the "border" */
}

::-webkit-scrollbar-track:hover {
  background: #c0c0c0;
  /* Color on hover */
}

/* This styles the scrollbar thumb (the part that is draggable) */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  /* Thumb color */
  border: 5px solid white;
  border-bottom: 5px solid #7c7c7c;
  border-right: 5px solid #7c7c7c;
  /* Simulated border around the thumb */
}



/* This styles the overall scrollbar */
::-webkit-scrollbar {
  width: 20px;
  /* Width of the entire scrollbar */
}

html,
body {
  max-width: 100vw;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr;
  border: 5px solid white;
  border-bottom: 5px solid #808080;
  border-right: 5px solid #808080;
}

#main-mobile {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

.border-effect {
  border: 10px solid #c0c0c0;
}

.border-effect>* {
  border: 5px solid white;
  border-top: 5px solid #808080;
  border-left: 5px solid #808080;
  height: 100%;
  /* Second 'border' */
}

body {
  background-color: #bdbdbd;
}

button,
form {
  background-color: #bdbdbd;
  border: 2px solid white;
  border-bottom: 2px solid #7f7f7f;
  border-right: 2px solid #7f7f7f;
  padding: 3px;
  border-style: outset;
  /* width: 100%; */
}

form {
  display: grid;
}

#toolbar {
  display: grid;
  grid-template-columns: 1fr auto;

}

/* form children except submit */
form>*:not(:last-child) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button:hover {
  border: 2px solid #7f7f7f;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

input,
textarea,
select {
  background-color: red;
  border-radius: 0;
  margin-left: 5px;
}

/* disable border when active */
input:active,
textarea:active,
select:active {
  border: none;
  outline: none;
}

/* disable border and outline when focused */
input:focus,
textarea:focus,
select:focus {
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#controls-wrapper {
  text-transform: uppercase;
}

#canvas-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 30px);
}

.react-p5-wrapper {
  cursor: crosshair;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#bunkerGallery {
  grid-column: 1/-1;
}

.mapboxgl-control-container {
  display: none;
}